
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    
<center>
    <header>
         <h1>Trivia!</h1>
        <a href="/quiz">
         <img src="/img/logo.png" alt="Quiz Logo" style="width: 100px; height: auto;">
           
        </a>
    

    </header>

  <nav>
    <ul>
        <li><a href="/quiz" class="nav-link">Quiz</a></li>
        <li><a href="/questions" class="nav-link">Questions</a></li>
    </ul>
</nav>

</center>
    <!-- Where other templates get inserted -->
    {{{ body }}}

</body>
</html>
